<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'Activate User']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr style="font-size: medium; background: #3a3633; color: silver">
            <th style="width: 8%">Sr. No.</th>
            <th style="width: 21%">Username</th>
            <th style="width: 30%">Email Id</th>
            <th style="width: 13%">Email Verified</th>
            <th style="width: 16%">Verified By Admin</th>
            <th style="width: 12%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: 15px" *ngFor="let user of userObject; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userEmail}}</td>
            <td style="text-align:center">{{user.userIsActive ? 'Yes' : 'No'}}</td>
            <td style="text-align:center">{{user.userIsActiveByAdmin ? 'Yes' : 'No'}}</td>
            <td>
              <button class="btn btn-{{ user.userIsActiveByAdmin === true ? 'danger' : 'success' }}" (click)="onClickActivate(user)">{{ user.userIsActiveByAdmin === true ? 'Inactive' : 'Active' }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>