<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <a routerLink="/auth/register" class="btn btn-danger">Create account</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">OilWellStores.com</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header" style="text-align:justify">OilWellStore.com is the first online platform of its kind offering oil and gas drilling partnerships in accordance
              with SEC Regulation D Rule 506(c)
            </h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form [formGroup]="loginForm" class="smart-form client-form">
            <header>
              Sign In
            </header>
            <fieldset>
              <section>
                <label class="label">Email</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username" [(ngModel)]="loginDetails.userName" required placeholder="eg. johndoe@gmail.com" [formControl]="loginForm.controls['userName']">
                  <b class="tooltip tooltip-top-right">Please enter email address</b>
                  <span style="color:red" *ngIf="!loginForm.controls['userName'].valid && loginForm.controls['userName'].touched">Please enter valid Email.</span>
                </label>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input placeholder="Password" type="password" name="password" [(ngModel)]="loginDetails.password" required [formControl]="loginForm.controls['password']">
                  <b class="tooltip tooltip-top-right">Enter your password</b>
                  <span style="color:red" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Please enter valid Password.</span>
                </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
              </section>
              <!--               <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Stay signed in</label>
              </section> -->
            </fieldset>
            <footer>
              <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login($event)">
                Sign in
              </button>
            </footer>

            <div class="alert alert-block alert-danger" *ngIf="erMsg !== null" dismisser="">
              <h4 class="alert-heading">
                <i class="fa fa-times"></i> Login Failed !</h4>
              <br>
              <p>
                {{ erMsg }}
              </p>
            </div>
          </form>
        </div>

        <!--         <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
         -->
      </div>
    </div>
  </div>
</div>