<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <a routerLink="/auth/register" class="btn btn-danger">Create account</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">OilWellStores.com</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header" style="text-align:justify">OilWellStore.com is the first online platform of its kind offering oil and gas drilling partnerships in accordance
              with SEC Regulation D Rule 506(c)
            </h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form [formGroup]="forgotPasswordForm" class="smart-form client-form">
            <header>
              Forgot Password
            </header>

            <fieldset>

              <section>
                <label class="label">Enter your email address</label>
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" [(ngModel)]="forgotPasswordDetails.email" required placeholder="eg. johndoe@gmail.com" [formControl]="forgotPasswordForm.controls['email']">
                  <b class="tooltip tooltip-bottom-right">Email must be in format eg. johndoe@gmail.com</b>
                  <span style="color:red" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched">Please enter valid Email.</span>
                </label>
              </section>
              <!--               <section>
                <span class="timeline-seperator text-center text-primary">
                  <span class="font-sm">OR</span>
                </span>
              </section>
              <section>
                <label class="label">Your Username</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username">
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-user txt-color-teal"></i> Enter your username</b>
                </label>
                <div class="note">
                  <a routerLink="/auth/login">I remembered my password!</a>
                </div>
              </section> -->
              <section>
                <div class="note">
                  <a routerLink="/auth/login">I remembered my password!</a>
                </div>
              </section>

            </fieldset>
            <footer>
              <button [disabled]="!forgotPasswordForm.valid" (click)="submit($event)" class="btn btn-primary">
                Reset Password
              </button>
            </footer>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>