<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Already registered?</span>
    <a routerLink="/auth/login" class="btn btn-danger">Sign In</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <!--   <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">Lakonia Capital, LLC</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header" style="text-align:justify">If you are sophisticated, financially qualified and interested in generating significant income and potential
              profit from low cost oil recovery projects - Lakonia Capital partnerships may be for you.
              <br>
              <br> We conveniently provide potential investors information about our company and partnerships over the phone,
              by email or in person to help you decide if you would like to review a current offering.
            </h4>
          </div>
          <img src="assets/img/SLOGAN-circle.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">

          <form id="smart-form-register" class="smart-form client-form" novalidate>
            <header>
              Registration
            </header>

            <fieldset>
              <section>
                <label class="label">Username</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username" [(ngModel)]="registrationDetails.userName" minlength="4" required placeholder="eg. John Doe"
                    #userName="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">
                  <b class="tooltip tooltip-bottom-right">Username must not contain number</b>
                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                    <div *ngIf="userName.errors.required">
                      Username is required.
                    </div>
                    <div *ngIf="userName.errors.minlength">
                      Username must be at least 4 characters long.
                    </div>
                    <div *ngIf="!userName.errors.minlength" [hidden]="!userName.hasError('pattern')">
                      Username must not contain number or special character
                    </div>
                  </div>
                </label>
              </section>

              <section>
                <label class="label">Email</label>
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" [(ngModel)]="registrationDetails.email" required placeholder="eg. johndoe@gmail.com" #emailId="ngModel"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger">
                    <div *ngIf="emailId.errors.required">
                      Email is required.
                    </div>
                    <div [hidden]="!emailId.hasError('pattern')">
                      Invalid Email Address
                    </div>
                  </div>
                </label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" [(ngModel)]="registrationDetails.password" required placeholder="Password" id="password"
                    #password="ngModel" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" minlength="8">
                  <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 8 characters long.
                    </div>
                    <div *ngIf="!password.errors.minlength" [hidden]="!password.hasError('pattern')">
                      Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character
                    </div>
                  </div>
                </label>
              </section>

              <section>
                <label class="label">Confirm Password</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="passwordConfirm" required [(ngModel)]="registrationDetails.confirmPassword" required placeholder="Confirm Password"
                    #confirmPassword="ngModel">
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">
                      Confirm Password is required.
                    </div>
                  </div>
                  <div *ngIf="confirmPassword.touched && (registrationDetails.password !== registrationDetails.confirmPassword && registrationDetails.confirmPassword !== '')"
                    class="alert alert-danger">
                    <div [hidden]="registrationDetails.password == registrationDetails.confirmPassword">Passwords do not match!</div>
                  </div>
                </label>
              </section>
            </fieldset>

            <footer>
              <button [disabled]="!smart-form-register.valid" (click)="register($event)" class="btn btn-primary">
                Register
              </button>
            </footer>

            <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div> -->



  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">Lakonia Capital, LLC</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header" style="text-align:justify">If you are sophisticated, financially qualified and interested in generating significant income and potential
              profit from low cost oil recovery projects - Lakonia Capital partnerships may be for you.
              <br>
              <br> We conveniently provide potential investors information about our company and partnerships over the phone,
              by email or in person to help you decide if you would like to review a current offering.
            </h4>
          </div>
          <img src="assets/img/SLOGAN-circle.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">

          <form [formGroup]="registerForm" class="smart-form client-form">
            <header>
              Registration
            </header>

            <fieldset>
              <section>
                <label class="label">Username</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username" [(ngModel)]="registrationDetails.userName" required placeholder="eg. John Doe" [formControl]="registerForm.controls['userName']"
                    (keypress)="lettersOnly($event)">
                  <b class="tooltip tooltip-bottom-right">Username must not contain number or special character</b>
                  <span style="color:red" *ngIf="!registerForm.controls['userName'].valid && registerForm.controls['userName'].touched">Please enter valid Username.</span>
                </label>
              </section>

              <section>
                <label class="label">Email</label>
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" [(ngModel)]="registrationDetails.email" required placeholder="eg. johndoe@gmail.com" [formControl]="registerForm.controls['email']">
                  <b class="tooltip tooltip-bottom-right">Email must be in format eg. johndoe@gmail.com</b>
                  <span style="color:red" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Please enter valid Email.</span>
                </label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" [(ngModel)]="registrationDetails.password" required placeholder="Password" id="password"
                    [formControl]="registerForm.controls['password']">
                  <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
                  <span style="color:red" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Please enter valid Password.</span>
                </label>
              </section>

              <section>
                <label class="label">Confirm Password</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="passwordConfirm" required [(ngModel)]="registrationDetails.confirmPassword" required placeholder="Confirm Password"
                    [formControl]="registerForm.controls['confirmPassword']">
                  <b class="tooltip tooltip-bottom-right">Confirm Password must be same as Password</b>
                  <span style="color:red" *ngIf="!registerForm.controls['confirmPassword'].valid && registerForm.controls['confirmPassword'].touched">Please enter valid Confirm Password.</span>
                  <span *ngIf="err" style="color:red">Password did not matched! </span>
                </label>
              </section>
            </fieldset>

            <footer>
              <button [disabled]="!registerForm.valid" (click)="register($event)" class="btn btn-primary">
                Register
              </button>
            </footer>

            <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>