<div id="content">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
        <!-- PAGE HEADER -->
        <i class="fa-fw fa fa-home"></i> Dashboard
        <span>> Home </span>
      </h1>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->

  <!--
  The ID "widget-grid" will start to initialize all widgets below
  You do not need to use widgets if you dont want to. Simply remove
  the <section></section> and you can use wells or panels instead
  -->

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->

    <div class="row">

      <!-- a blank row to get started -->
      <div class="col-sm-12 col-lg-12">
        <img src="assets/img/banner-slid-1.jpg" width="100%" height="300px" alt="Banner">
        <br>
        <br>
        <h3 style="font-weight: bold">Close-Ology Map</h3>
        <p>To use the Close-ology map, simply enter the data requested in the fields below. The map is populated with color
          coded well points within a predetermined radius of the location selected. The color of each well point reflects
          an estimated ROI, which in turn is based on the parameters you entered.
        </p>

        <br>
        <h3 style="font-weight: bold">Hope-thetical Price, Production, and Cash Flow Scenarios</h3>
        <p>
          This interactive calculator allows you to input values in order to create a unique investment scenario and performance expectation
          under the terms of this partnership.
        </p>

        <br>
        <h3 style="font-weight: bold">Tax Effect</h3>
        <p>
          This Tool helps you do two very important things when considering investing in an oil drilling partnership:
        </p>
        <ol>
          <li>Estimate the impact of an oil drilling partnership on your Estimated After-Tax Income.</li>
          <li>Figure out your optimal Investment Amount for each filing situation, as well as estimate the number of Actual Dollars
            at Risk.</li>
        </ol>
      </div>
    </div>

    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>