<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'Change Password']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
    <div class="well no-padding">

      <form [formGroup]="passwordForm" class="smart-form client-form">
        <header>
          Change Password
        </header>

        <fieldset>
          <section>
            <label class="label">Current Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="currentPassword" [(ngModel)]="passwordDetails.currentPassword" placeholder="Current Password"
                [formControl]="passwordForm.controls['currentPassword']">
              <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
              <span style="color:red" *ngIf="!passwordForm.controls['currentPassword'].valid && passwordForm.controls['currentPassword'].touched">Please enter valid Current Password.</span>
            </label>
          </section>

          <section>
            <label class="label">New Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="password" [(ngModel)]="passwordDetails.newPassword" placeholder="New Password" [formControl]="passwordForm.controls['newPassword']">
              <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
              <span style="color:red" *ngIf="!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched">Please enter valid New Password.</span>
            </label>
          </section>

          <section>
            <label class="label">Confirm New Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="passwordConfirm" [(ngModel)]="passwordDetails.confirmPassword" placeholder="Confirm New Password"
                [formControl]="passwordForm.controls['confirmPassword']">
              <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
              <span style="color:red" *ngIf="!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched">Please enter valid Confirm Password.</span>
              <span *ngIf="err" style="color:red">Password did not matched! </span>
            </label>
          </section>
        </fieldset>

        <footer>
          <button [disabled]="!passwordForm.valid" (click)="changePassword()" class="btn btn-primary">
            Change
          </button>
        </footer>

        <div class="message">
          <i class="fa fa-check"></i>
          <p>
            Password changed successfully ! ! !
          </p>
        </div>
      </form>

    </div>
  </div>

</div>