<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'Edit Profile']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
    <div class="well no-padding">

      <form id="smart-form-register" class="smart-form client-form">
        <header>
          Update Profile Details
        </header>

        <fieldset>
          <section>
            <label class="label">Username</label>
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" name="userName" [(ngModel)]="profileDetails.userName" placeholder="Username" id="userName">
            </label>
          </section>

          <section>
            <label class="label">Email</label>
            <label class="input">
              <i class="icon-append fa fa-envelope"></i>
              <input type="text" name="email" [(ngModel)]="profileDetails.email" placeholder="Email address" id="email">
            </label>
          </section>

          <section>
            <label class="label">Current Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="currentPassword" [(ngModel)]="profileDetails.currentPassword" placeholder="Current Password"
                id="currentPassword">
            </label>
          </section>

          <section>
            <label class="label">New Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="password" [(ngModel)]="profileDetails.newPassword" placeholder="New Password" id="password">
              <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
          </section>

          <section>
            <label class="label">Confirm New Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="passwordConfirm" [(ngModel)]="profileDetails.confirmPassword" placeholder="Confirm New Password">
              <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
          </section>
        </fieldset>

        <footer>
          <button (click)="updateDetails()" class="btn btn-primary">
            Change
          </button>
        </footer>

        <div class="message">
          <i class="fa fa-check"></i>
          <p>
            Password changed successfully ! ! !
          </p>
        </div>
      </form>

    </div>
  </div>

</div>