<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'Edit Profile']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->

  <div class="row">
    <article class="col-sm-12">
      <alert type="success" dismissible="true" *ngIf="!errStatus && result">
        <i class="fa-fw fa fa-check"></i>
        <strong>Success</strong> {{result}}
      </alert>

      <alert type="danger" dismissible="true" *ngIf="errStatus && result">
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> {{result}}
      </alert>
    </article>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
    <div class="well no-padding">

      <form [formGroup]="profileForm" class="smart-form client-form">
        <header>
          Update Profile Details
        </header>

        <fieldset>
          <section>
            <label class="label">Username</label>
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" name="userName" [(ngModel)]="profileDetails.userName" required placeholder="eg. John Doe" [formControl]="profileForm.controls['userName']"
                (keypress)="lettersOnly($event)">
              <b class="tooltip tooltip-bottom-right">Username must not contain number or special character</b>
              <span style="color:red" *ngIf="!profileForm.controls['userName'].valid && profileForm.controls['userName'].touched">Please enter valid Username.</span>
            </label>
          </section>

          <section>
            <label class="label">Email</label>
            <label class="input">
              <i class="icon-append fa fa-envelope"></i>
              <input type="text" name="email" disabled [(ngModel)]="profileDetails.email" required placeholder="eg. johndoe@gmail.com"
                [formControl]="profileForm.controls['email']">
              <b class="tooltip tooltip-bottom-right">Email must be in format eg. johndoe@gmail.com</b>
              <span style="color:red" *ngIf="!profileForm.controls['email'].valid && profileForm.controls['email'].touched">Please enter valid Email.</span>
            </label>
          </section>

          <section>
            <label class="label">Your Password</label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="password" name="currentPassword" [(ngModel)]="profileDetails.currentPassword" placeholder="Current Password"
                [formControl]="profileForm.controls['currentPassword']">
              <b class="tooltip tooltip-bottom-right">Password must contain atleast 1 Uppercase, 1 Lowercase, 1 Numeric and 1 Special Character</b>
              <span style="color:red" *ngIf="!profileForm.controls['currentPassword'].valid && profileForm.controls['currentPassword'].touched">Please enter valid Current Password.</span>
            </label>
          </section>
        </fieldset>

        <footer>
          <button [disabled]="!profileForm.valid" (click)="updateDetails()" class="btn btn-primary">
            Change
          </button>
        </footer>

        <div class="message">
          <i class="fa fa-check"></i>
          <p>
            Password changed successfully ! ! !
          </p>
        </div>
      </form>

    </div>
  </div>

</div>