<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'View User(s)']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <div class="row">
    <article class="col-sm-12">
      <alert type="success" dismissible="true" *ngIf="!err && result">
        <i class="fa-fw fa fa-check"></i>
        <strong>Success</strong> {{result}}
      </alert>

      <alert type="danger" dismissible="true" *ngIf="err && result">
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> {{result}}
      </alert>
    </article>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr style="font-size: medium; background: #3a3633; color: silver">
            <th style="width: 8%">Sr. No.</th>
            <th style="width: 21%">Username</th>
            <th style="width: 30%">Email Id</th>
            <th style="width: 13%">Email Verified</th>
            <th style="width: 16%">Verified By Admin</th>
            <th style="width: 12%">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: 15px" *ngFor="let user of userObject; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userEmail}}</td>
            <td style="text-align:center">{{user.userIsActive ? 'Yes' : 'No'}}</td>
            <td style="text-align:center">{{user.userIsActiveByAdmin ? 'Yes' : 'No'}}</td>
            <td>
              <button class="btn btn-danger" (click)="onClickDelete(user)">
                <i class="fa fa-lg fa-fw fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>